- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"

- content_for :extra_javascript do
  - # maps.google can't be loaded twice
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  - # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) && (main_search != :keyword || @view_type.eql?("map"))
  = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
  = javascript_include_tag "markerclusterer.js"
- content_for :extra_javascript do
  :javascript
    window.ST.initializeLocationSearch({form: '#homepage-filters', search: '#q', status: '#ls', coordinate: '#lc', boundingbox: '#boundingbox', maxDistance: '#distance_max'});  
%style
  :plain
    .SearchBar__root__2hIPj { display: none;}
    @media only screen and (max-width: 767px) {
      .SearchBar__root__2hIPj { display: block; pointer-events: none; opacity: 0;}
    }
- content_for :title_header do
  - is_homepage = params[:controller] == "homepage" && params[:action] == "index"
  - if @big_cover_photo
    - if @current_community.show_slogan?
      %h1.marketplace-lander-content-title= community_slogan.html_safe
    - else
      %h1.marketplace-lander-content-title.hidden_title_part &nbsp;
    - if @current_community.show_description?
      %p.marketplace-lander-content-description= community_description.html_safe
    - else
      %p.marketplace-lander-content-description.hidden-title-part &nbsp;
    - unless (is_homepage && !@current_community.private? && FeatureFlagHelper.feature_enabled?(:topbar_v1))
      .search-form
        - if @current_community.private?
          %a.inline-big-button{href: sign_up_path}
            .content
              = t("layouts.application.connect")
        - else
          - if(main_search == :location)
            = render partial: "location_bar"
          - else
            = render partial: "search_bar"
  - elsif !(is_homepage && FeatureFlagHelper.feature_enabled?(:topbar_v1))
    - if (main_search == :keyword_and_location)
      .browse-view-search-form.lc_keywrd_search
        = render partial: "keyword_and_location_bar"
    - else
      .browse-view-search-form
        - if(main_search == :location)
          = render partial: "location_bar"
        - else
          = render partial: "search_bar"

- content_for(:head) do
  - if seo_pagination_links[:prev].present?
    %link{rel: "prev", href: seo_pagination_links[:prev]}
  - if seo_pagination_links[:next].present?
    %link{rel: "next", href: seo_pagination_links[:next]}

- if @current_community.private? && @big_cover_photo
  - if @community_customization && @community_customization.private_community_homepage_content
    .community-customization-wrapper
      = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else
  .main_content
    / %span.phone_map_close_btn
    /   ×
    - if @listings.total_entries > 0
      - if @view_type.eql?("map")
        .home-map
      - else
        - if @view_type.eql?("grid")
          = render :partial => "map", locals: { viewport: viewport }
          .listing-container
            %div.top-bars
              / %span.phone-view-filter
              /   %i.icon-filter
              /   Filters
                    

              .visible-desktop.filters
                .toggle#home_toolbar-select-share-type{data: {toggle: '.category-dropdown'}}
                  .filter-btn
                    Category

                  .dropdownMenu.category-dropdown.toggle-menu.hidden
                    %ul.categories
                      %li
                        %a{:herf=>"#"}
                          House
                      %li
                        %a{:herf=>"#"}
                          Condo
                      %li
                        %a{:herf=>"#"}
                          Townhome
                      %li
                        %a{:herf=>"#"}
                          Apartment
                      %li
                        %a{:herf=>"#"}
                          Other
                .toggle#home_toolbar-select-share-type{data: {toggle: '.price-dropdown'}}
                  .filter-btn
                    Price
                  .dropdownMenu.price-dropdown.toggle-menu.hidden
                    .price_range
                      = render partial: "price_range"

                .toggle#home_toolbar-select-share-type{data: {toggle: '.keyword-dropdown'}}
                  .filter-btn
                    Keyword
                  .dropdownMenu.keyword-dropdown.toggle-menu.hidden
                    %div.search_block
                      = text_field_tag "keyword", params[:keyword], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need"), class: 'location_search'
                      = text_field_tag 'q', params[:q], :placeholder => 'Location', class: 'keyword_search'
                      = hidden_field_tag 'lc', params[:lc]
                      = hidden_field_tag 'ls', ''
                      = hidden_field_tag 'boundingbox', params[:boundingbox]
                      = hidden_field_tag 'distance_max', ''                  
                      %button
                        Search
                .toggle#home_toolbar-select-share-type{data: {toggle: '.date-dropdown'}}
                  .filter-btn
                    Date
                  .dropdownMenu.date-dropdown.toggle-menu.hidden
                    #Datepicker
                    .datepick_text
                      %span.dt
                        %b
                          Checkin:
                        %label#checkinDate
                      %span.dt
                        %b
                          Checkout:
                        %label#checkoutDate
                    - content_for :extra_javascript do
                      :javascript
                        /** Display Checkin Datepicker and Checkout DatePicker */
                        datePicker();
                        function datePicker(){
                           $(document).ready(function(){
                              $( "#Datepicker" ).datepicker({
                                 dateFormat: "MM d, yy",
                           minDate: 0,
                           maxDate: "+3M +0D", 
                                 beforeShowDay: dateRange,
                           onSelect: DRonSelect
                              });
                           });
                        }

                        function dateRange(date){
                           var date1 = $.datepicker.parseDate("MM d, yy", $("#checkinDate").text());
                           var date2 = $.datepicker.parseDate("MM d, yy", $("#checkoutDate").text());
                           var isHighlight = date1 && ((date.getTime() == date1.getTime()) || (date2 && date >= date1 && date <= date2));
                              $(document).ready(function(){
                          // $("td.dp-highlight").text("Y");

                        });
                           return [true, isHighlight ? "dp-highlight" : ""];
                        }

                        function DRonSelect(dateText, inst) {
                           var date1 = $.datepicker.parseDate("MM d, yy", $("#checkinDate").text());
                           var date2 = $.datepicker.parseDate("MM d, yy", $("#checkoutDate").text());
                              if (!date1 || date2) {
                                 $("#checkinDate").text(dateText);
                           $("#checkoutDate").text("");
                                 $("#Datepicker").datepicker();
                              } 
                              else {
                                 if ( $.datepicker.parseDate("MM d, yy", $("#checkinDate").text()) >= 
                        $.datepicker.parseDate("MM d, yy", dateText)) {
                                    $("#checkinDate").text(dateText);
                                    $("#checkoutDate").text("");
                                    $("#Datepicker").datepicker();
                                 }
                                 else {
                              $("#checkoutDate").text(dateText);
                                    $("#Datepicker").datepicker();
                                 }
                              }   
                        }
                      
                .toggle#home_toolbar-select-share-type{data: {toggle: '.checkbox-dropdown'}}
                  .filter-btn
                    Checkbox
                  .dropdownMenu.checkbox-dropdown.toggle-menu.hidden
                    .checkbox-block
                      %label.customCheckbox
                        One
                        %input{:type => "checkbox"}/
                        %span.checkmark
                      %label.customCheckbox
                        Two
                        %input{:type => "checkbox"}/
                        %span.checkmark
                      %label.customCheckbox
                        Three
                        %input{:type => "checkbox"}/
                        %span.checkmark
                      %label.customCheckbox
                        Four
                        %input{:type => "checkbox"}/
                        %span.checkmark
                      %label.customCheckbox
                        Five
                        %input{:type => "checkbox"}/
                        %span.checkmark
                      


                / #header-locales-menu.toggle.filter-btn{data: {toggle: '#filterDropdown', 'toggle-position' => 'absolute'}}
                /   %span
                /     Filters
                /     %i.icon-angle-down
                / #filterDropdown.toggle-menu.hidden
                /   = link_to t("homepage.filters.all_categories"), search_path(search_params.merge({category: "all"})), :class => "home-categories-main #{if selected_category.nil? then 'selected' end}"

                / %div.search_block
                /   = text_field_tag "keyword", params[:keyword], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need"), class: 'location_search'
                /   = text_field_tag 'q', params[:q], :placeholder => t("homepage.home.location"), class: 'keyword_search'
                /   = hidden_field_tag 'lc', params[:lc]
                /   = hidden_field_tag 'ls', ''
                /   = hidden_field_tag 'boundingbox', params[:boundingbox]
                /   = hidden_field_tag 'distance_max', ''                  
                /   %button
                /     Search


                .switch-bar
                  %span.switch_text
                    Hide Map
                  %label.switch
                    %input.switch-input{:checked => "checked", :type => "checkbox"}/
                    %span.slider.round

              / .switch-bar.phone_view
              /   %span.phone_switch_text
              /     See Map
              /   %label.switch
              /     %input.switch-input{:type => "range"}/
              /     %span.slider.round

            .ls_container
              = render partial: "grid_item_new", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
            .home-loading-more
              = will_paginate @listings, :previous_label=> '<i class="icon-angle-left"></i>', :next_label=> '<i class="icon-angle-right"></i>'           
    - else
      .home-no-listings
        - if params[:q] || params[:category] || params[:share_type] # Some filter in use
          = t(".no_listings_with_your_search_criteria")
        - else
          = t(".no_listings_notification",
                add_listing_link: link_to(t(".add_listing_link_text"),
                new_listing_path(ref: "add_listing_link"))).html_safe



  :javascript
    let content = document.querySelector('.main_content');
    let switch_text = document.querySelector('.switch_text');
    document.querySelector('.switch-input').addEventListener('click', ()=>{
      content.classList.toggle('hidden_content');
      if(content.classList.contains('hidden_content')){
        switch_text.innerHTML= 'See Map';
      }
      else{
        switch_text.innerHTML= 'Hide Map';
      }
    })

    //Phone menu
    let PhoneFIlterBtn = document.querySelector('.phone-view-filter');
    let filterContent = document.querySelector('.top-bars .filters');
    PhoneFIlterBtn.addEventListener('click', ()=>{
      filterContent.classList.toggle('show')
    })

    let phone_switch = document.querySelector('.phone_view input');
    let phone_switch_text = document.querySelector('.phone_switch_text');
    let phone_map_close_btn = document.querySelector('.phone_map_close_btn');
    let mapview = document.querySelector('#map-canvas');

    phone_switch.addEventListener('click', ()=>{
      mapview.classList.add('show');
        phone_switch_text.innerHTML= 'Hide Map';
        document.body.classList.add('body_scroll');
        phone_map_close_btn.classList.add('show');
    })
    phone_map_close_btn.addEventListener('click', ()=> {
      mapview.classList.remove('show');
      phone_switch_text.innerHTML= 'See Map';
      document.body.classList.remove('body_scroll');
      phone_map_close_btn.classList.remove('show');
    })
